<html>
<head>
<title>episode_card.xml</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table BGCOLOR="#c0c0c0" CELLPADDING=5 CELLSPACING=0 COLS=1 WIDTH="100%" >
<tr><td><center>
<font color="#000000" face="Arial, Helvetica">
episode_card.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_card_container&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_marginHorizontal</span><span class="s3">=&quot;16dp&quot;</span>
    <span class="s1">android:layout_marginVertical</span><span class="s3">=&quot;8dp&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s3">=&quot;16dp&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/container_layout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
        <span class="s1">android:paddingHorizontal</span><span class="s3">=&quot;24dp&quot;</span>
        <span class="s1">android:paddingVertical</span><span class="s3">=&quot;12dp&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/title_layout&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;@dimen/medium_element_margin&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">android:gravity</span><span class="s3">=&quot;center_vertical&quot;</span>
            <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span><span class="s2">&gt;</span>

            <span class="s2">&lt;</span><span class="s4">com.google.android.material.imageview.ShapeableImageView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_image&quot;</span>
                <span class="s1">app:shapeAppearanceOverlay</span><span class="s3">=&quot;@style/ShapeAppearanceOverlay.App.CornerSize5Percent&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;80dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;80dp&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s3">=&quot;start&quot;</span>
                <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/album_art&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">tools:srcCompat</span><span class="s3">=&quot;@drawable/pic_2022&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_title&quot;</span>
                <span class="s1">style</span><span class="s3">=&quot;@style/EpisodeTitle&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s3">=&quot;@dimen/wide_element_margin&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;@string/episode_title&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s3">=&quot;@+id/episode_image&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_description&quot;</span>
            <span class="s1">style</span><span class="s3">=&quot;@style/EpisodeTextDescription&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/title_layout&quot;</span>
            <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center_horizontal&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;@dimen/wide_element_margin&quot;</span>
            <span class="s1">tools:text</span><span class="s3">=&quot;@string/episode_desctipion&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">LinearLayout</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/share_download_layout&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/episode_description&quot;</span>
            <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;@dimen/medium_element_margin&quot;</span>
            <span class="s1">android:gravity</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span><span class="s2">&gt;</span>

            <span class="s2">&lt;</span><span class="s4">Button</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_download_button&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s3">=&quot;center&quot;</span>
                <span class="s1">android:drawableStart</span><span class="s3">=&quot;@drawable/ic_download_vec&quot;</span>
                <span class="s1">android:drawablePadding</span><span class="s3">=&quot;@dimen/small_element_margin&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;@string/download&quot;</span>
                <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/download_button&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;?android:attr/selectableItemBackground&quot;</span>
                <span class="s1">style</span><span class="s3">=&quot;@style/ButtonLabel&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">Space</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s3">=&quot;1&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">Button</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_share_button&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s3">=&quot;start&quot;</span>
                <span class="s1">android:drawableStart</span><span class="s3">=&quot;@drawable/ic_share&quot;</span>
                <span class="s1">android:drawablePadding</span><span class="s3">=&quot;@dimen/small_element_margin&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;@string/share_button_text&quot;</span>
                <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/share_button&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;?android:attr/selectableItemBackground&quot;</span>
                <span class="s1">style</span><span class="s3">=&quot;@style/ButtonLabel&quot;</span><span class="s2">/&gt;</span>

        <span class="s2">&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">LinearLayout</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/bottom_card_things&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;@dimen/medium_element_margin&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;@dimen/wide_element_margin&quot;</span>
            <span class="s1">android:gravity</span><span class="s3">=&quot;center_vertical&quot;</span>
            <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>
            <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@id/share_download_layout&quot;</span><span class="s2">&gt;</span>

            <span class="s2">&lt;</span><span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/non_playable_text&quot;</span>
                <span class="s1">style</span><span class="s3">=&quot;@style/NonPlayableText&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s3">=&quot;@dimen/medium_element_margin&quot;</span>
                <span class="s1">android:text</span><span class="s3">=&quot;@string/non_playable_text&quot;</span>
                <span class="s1">android:visibility</span><span class="s3">=&quot;gone&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">ImageButton</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_play_button&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;@dimen/circle_button_dimen&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;@dimen/circle_button_dimen&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;@drawable/circle_button&quot;</span>
                <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/play_pause_button&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/episode_description&quot;</span>
                <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/ic_play&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">TextView</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_last_position&quot;</span>
                <span class="s1">style</span><span class="s3">=&quot;@style/EpisodeTextLastPosition&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginHorizontal</span><span class="s3">=&quot;8dp&quot;</span>
                <span class="s1">tools:text</span><span class="s3">=&quot;0:00&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">Space</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s3">=&quot;1&quot; </span><span class="s2">/&gt;</span>

            <span class="s2">&lt;</span><span class="s4">ImageButton</span>
                <span class="s1">android:id</span><span class="s3">=&quot;@+id/episode_mark_completed_button&quot;</span>
                <span class="s1">android:layout_width</span><span class="s3">=&quot;@dimen/circle_button_dimen&quot;</span>
                <span class="s1">android:layout_height</span><span class="s3">=&quot;@dimen/circle_button_dimen&quot;</span>
                <span class="s1">android:background</span><span class="s3">=&quot;?android:attr/selectableItemBackground&quot;</span>
                <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/mark_as_completed_button&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/episode_description&quot;</span>
                <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/ic_mark_completed&quot;</span>
                <span class="s1">app:tint</span><span class="s3">=&quot;@color/completed_button_color&quot; </span><span class="s2">/&gt;</span>
        <span class="s2">&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt;</span>


    <span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span>


<span class="s2">&lt;/</span><span class="s4">androidx.cardview.widget.CardView</span><span class="s2">&gt;</span></pre>
</body>
</html>